@{
  Layout = "_Layout";
}
<body> 

<div class="container"> 

<h1>Welcome !!</h1>

</div>

<div class="container">
@Html.ActionLink("See all Engineers", "Index", "Engineers", null, new { @class = "custom-button" })

@Html.ActionLink("See all Machines", "Index", "Machines", null, new { @class = "custom-button" })


</div>

</body>